<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   IDETemplateMacros.plist
   GoPlay

   Created by xiaoxiang's m1 mbp on 2023/8/28.
   Copyright (c) 2023 dKingbin. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
